<h2> Edit A Survey:</h2>

<div id = "edit-survey-form">
  <form class = "edit-survey-form" method = "post" action = "/surveys">
    <input type="hidden" name="_method" value="put">
    <label for = "survey-name-input" >Name of Survey:</label>
    <input id ="survey-name-input" name = "survey[name]" type = "text" value="<%=@survey.try(:name)%>">

    <label for = "survey-description-input" >Description of Survey:</label>
    <textarea id = "survey-description-input" rows="4" cols= "30" name = "survey[description]" value="<%=@survey.try(:description)%>"></textarea>

    <input type = "submit" value = "Edit Survey" class="button">
  </form>
</div>
